page-home {

  .toolbar-title-md {
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
  }

  .quote-text {
    margin-top: 20%;
    text-align: center;
    font-size: xx-large;
  }

  .bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 49%;
    background-color: limegreen;
  }

  .bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 49%;
    background-color: orangered;
  }
}
